body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.App > div{
  display:flex;
  flex-direction: column;
  width:300px;
  border:solid 3px #000;
  height:600px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
  background:#fff;
  overflow: hidden;
}
.app_body{
  display:flex;
  flex-direction: column;
  height:550px;
}

.common_map{
  display:flex;
  font-size: 0.8rem;
  color:#7f7f7f;
}
.common_map > span:first-child{
  display:flex;
  color:#ec6f6a;
  align-items: center;
  margin:3px 5px 0px 0px;
}
/* -------------------- bottomnavi -------------------- */
.bottomnavi{
  display:flex;
  height:49px;
  width:100%;
  border-top:solid 1px #eaeaea;
  align-items: center;
  justify-content: space-between;
}
.bottomnavi > a{
  display:flex;
  flex:1;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color:#585858;
  cursor: pointer;
  text-decoration: none;
}
.bottomnavi > a.on{
  color:#585858;
}
.bottomnavi > a > span:first-child{
  display:flex;
  width:100%;
  justify-content: center;
  margin:5px 0px 0px 0px;
}
.bottomnavi > a > span:last-child{
  display:flex;
  width:100%;
  justify-content: center;
  font-size: 0.8rem;
  margin:2px 0px 0px 0px;
}
/* -------------------- article -------------------- */
.article{
  display:flex;
  flex-direction: column;
  width:100%;
  height:550px;
  overflow-y: scroll;
  overflow-x: hidden;
  position:relative;
}
.article::-webkit-scrollbar{
  width:2px;
}
.article_navi{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width:calc(100% - 20px);
  padding:0px 10px;
  color:#7f7f7f;
  position:absolute;
  top:0px;
}
.article_lv1{
  display:flex;
  justify-content: center;
  height:250px;
}
.article_lv1 > img{
  object-fit: cover;
  width:100%;
  height: 100%;
}
.article_lv2{
  display:flex;
  width:calc(100% - 20px);
  justify-content: space-between;
  border-bottom: solid 1px #eaeaea;
  padding:10px 10px 10px 10px;
  text-decoration: none;
}
.article_lv21{
  display:flex;
}
.article_lv21 > div:first-child{
  display:flex;
  justify-content: center;
  align-items: center;
  width:30px;
  height:30px;
  overflow: hidden;
  border:solid 2px #eaeaea;
  border-radius: 20px;
  margin:0px 10px 0px 0px;
}
.article_lv21 > div:first-child > img{
  object-fit: cover;
  width:100%;
  height:100%;
}
.article_lv21 > div:last-child{
  display:flex;
  flex-direction: column;
}
.article_lv21 > div:last-child > div{
  display:flex;
}
.article_lv21 > div:last-child > div > span:nth-child(1){
  display:flex;
  margin:4px 5px 0px 0px;
  color:#ec6f6a;
  font-size: 0.8rem;
}
.article_lv21 > div:last-child > div > span:nth-child(2){
  font-size: 0.8rem;
  color:#7f7f7f;
}
.article_lv21 > div:last-child > span{
  font-size: 0.8rem;
  font-weight: bold;
  color:#000;
}
.article_lv22{
  display:flex;
  flex-direction: column;
  font-size: 0.8rem;
}
.article_lv22 > div:nth-child(1){
  display:flex;
  justify-content: center;
  color:#ec6f6a;
}
.article_lv22 > div:nth-child(2){
  color:#7f7f7f;
  display:flex;
}
.article_lv22 > div:nth-child(2) > span:first-child{
  display:flex;
  margin:0px 5px 0px 0px;
}
.article_lv3{
  display:flex;
  flex-direction: column;
  width:calc(100% - 20px);
  padding:0px 10px;
  margin:10px 0px 0px 0px;
}
.article_lv3 > span{
  display:flex;
  font-size: 1.2rem;
  font-weight: bold;
  width:100%;
}
.article_lv3 > div:nth-child(2){
  display:flex;
  width:100%;
  justify-content: space-between;
  font-size: 0.8rem;
  color:#7f7f7f;
  margin:5px 0px 5px 0px;
}
.art_lv3_left{
  display:flex;
  margin:0px 0px 0px 0px;
}
.art_lv3_left > div{
  display:flex;
  margin:0px 10px 0px 10px;
}
.art_lv3_left > div > span:first-child{
  display:flex;
  margin:4px 5px 0px 0px;
}
.article_lv31{
  display:flex;
  width:100%;
  justify-content: space-between;
  margin:0px 0px 10px 0px;
}
.article_lv31 > div:nth-child(1){
  display:flex;
  font-weight: bold;
  font-size: 1.2rem;
  color:#ec6f6a;
}
.article_lv31 > div:nth-child(1) > span:nth-child(1){
  display:flex;
  margin:0px 5px 0px 0px;
}
.article_lv31 > div:nth-child(2){
  display:flex;
}
.article_lv31 > div:nth-child(2) > span{
  display:flex;
  align-items: center;
  justify-content: center;
  background:#eaeaea;
  padding:0px 10px;
  height:26px
}
.article_lv31 > div:nth-child(2) > span:nth-child(1){
  margin:0px 10px 0px 0px;
  padding:3px 10px 0px 10px;
  height:21px;
  font-size: 0.8rem;
  background: #fff;
  border:solid 1px #ec6f6a;
  color:#ec6f6a;
  border-radius: 5px;
}
.article_lv31 > div:nth-child(2) > span:nth-child(2){
  font-weight: bold;
  font-size: 0.8rem;
  background:#ec6f6a;
  color:#fff;
  border-radius: 5px;
}
.article_lv3 > div:nth-child(4){
  font-size: 1rem;
}
.article_lv4{
  display:flex;
  flex-direction: column;
  width:calc(100% - 20px);
  padding:0px 10px;
  margin:30px 0px 0px 0px;
}
.article_lv4 > div:nth-child(1){
  display:flex;
  width:100%;
  justify-content: space-between;
  font-weight: bold;
}
.article_lv4 > div:nth-child(2){
  display:flex;
  flex-wrap: wrap;
  margin:10px 0px 0px 0px;
}
.article_lv4 > div:nth-child(2) > div:nth-child(2n){
  margin:0px 0px 20px 0px;
}
.article_related{
  display:flex;
  flex-direction: column;
  width:calc(50% - 5px);
  margin:0px 10px 20px 0px;
}
.article_related > div{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}
.article_related > div > img{
  object-fit: cover;
  width:100%;
}
.article_related > span:nth-child(2){
  font-size: 1rem;
}
.article_related > span:nth-child(3){
  font-weight: bold;
  font-size: 0.8rem;
}
/* -------------------- insta -------------------- */
.insta{
  display:flex;
  flex-direction: column;
  width:100%;
  height:550px;
}
.insta_list{
  display:flex;
  flex-direction: column;
  height:500px;
  width:100%;
  overflow-y: scroll;
  overflow-x: hidden
}
.insta_list::-webkit-scrollbar{
  width:2px;
}
/* -------------------- home -------------------- */
.insta_ele{
  display:flex;
  width:100%;
  flex-direction: column;
  text-decoration: none;
  color:#7f7f7f;
  /* margin:0px 0px 10px 0px; */
  /* padding:0px 0px 10px 0px; */
}
.insta_ele_lv1{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  position: relative;
  height:180px;
}
.insta_ele_lv1 > img{
  object-fit: cover;
  width:100%;
  height:100%;
}
.insta_ele_lv1 > div{
  display:flex;
  align-items: flex-end;
  font-size: 0.8rem;
  bottom:10px;
  right:10px;
  background:rgba(255,255,255,0.6);
  padding:2px 5px;
  border-radius: 5px;
  position: absolute;
  color:#585858;
}
.insta_ele_lv1 > div > span:first-child{
  margin:0px 5px 0px 0px;
}
.insta_ele_lv2{
  display:flex;
  width:calc(100% - 20px);
  padding:0px 10px;
  margin:5px 0px 0px 0px;
  color:#585858;
  font-weight: bold;
}
.insta_ele_lv3{
  display:flex;
  justify-content: space-between;
  width:calc(100% - 20px);
  padding:0px 10px 10px 10px;
  margin:3px 0px 0px 0px;
  color:#7f7f7f;
  border-bottom: solid 1px #eaeaea;
}

.insta_ele_lv3 > div:nth-child(1){
  display:flex;
  align-items: flex-end;
  font-size: 1rem;
  font-weight: bold;
  color:#ec6f6a;
}
.insta_ele_lv3 > div:nth-child(1) > span:first-child{
  display:flex;
  margin:2px 5px 0px 0px;
}
.insta_ele_lv4{
  display:flex;
  justify-content: space-between;
  width:calc(100% - 20px);
  padding:0px 10px 0px 10px;
  margin:5px 0px 0px 0px;
  font-size: 0.8rem;
}
.insta_ele_lv4 > div:nth-child(2){
  display:flex;
}
.insta_ele_lv4 > div:nth-child(2) > span:first-child{
  display:flex;
  color:#ec6f6a;
  align-items: center;
  margin:3px 5px 0px 0px;
}
.insta_ele_lv4 > div:nth-child(1){
  display:flex;
  margin:0px 0px 0px 0px;
}
.insta_ele_lv4 > div:nth-child(1) > div{
  display:flex;
  align-items: center;
  margin:0px 10px 0px 0px;
  font-size: 0.8rem;
}
.insta_ele_lv4 > div:nth-child(1) > div > span:first-child{
  display:flex;
  margin:2px 5px 0px 0px;
}
/* -------------------- home -------------------- */
.home{
  display:flex;
  flex-direction: column;
  width:100%;
  height:550px;
}
.home_list{
  display:flex;
  flex-direction: column;
  height:500px;
  width:100%;
  overflow-y: scroll;
  overflow-x: hidden
}
.home_list::-webkit-scrollbar{
  width:2px;
}
/* -------------------- home navi -------------------- */
.home_ele{
  display:flex;
  width:calc(100% - 20px);
  padding:10px 10px 0px 10px;
}
.home_ele > div{
  display:flex;
  width:100%;
  justify-content: space-between;
  border-bottom: solid 1px #eaeaea;;
  padding: 0px 0px 10px;
}
.home_ele_left{
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width:90px;
  height:90px;
  border-radius: 10px;
}
.home_ele_left > img{
  object-fit: cover;
  width:100%;
  height:100%;
}
.home_ele_right{
  display:flex;
  width:calc(100% - 100px);
  flex-direction: column;
  justify-content: space-between;
}
.home_ele_right > div:nth-child(1){
  display:flex;
  flex-direction: column;
  width:100%;
}
.home_ele_right > div:nth-child(1) > div:nth-child(1){
  display:flex;
  width:100%;
  font-size: 1rem;
  color:#585858;
}
.home_ele_right > div:nth-child(1) > div:nth-child(2){
  display:flex;
  align-items: center;
  width:100%;
  font-size: 0.8rem;
  color:#7f7f7f;
}
.home_ele_right > div:nth-child(1) > div:nth-child(2) > span:nth-child(1){
  display:flex;
  margin:0px 10px 0px 0px;
}
.home_ele_right > div:nth-child(1) > div:nth-child(3){
  display:flex;
  width:100%;
  font-size: 0.8rem;
  font-weight: bold;
  margin:2px 0px 0px 0px;
}
.home_ele_right > div:nth-child(2){
  display:flex;
  width:100%;
  justify-content: flex-end;
  color:#7f7f7f;
  font-size: 0.8rem;
}
/* -------------------- home navi -------------------- */
.home_navi{
  display:flex;
  width:calc(100% - 20px);
  padding:0px 10px;
  min-height:50px;
  border-bottom: solid 1px #eaeaea;
  justify-content: space-between;
  align-items: center;
  color:#585858
}
.home_navi > div:first-child{
  display:flex;
  align-items: center;
}
.home_navi > div:first-child > span:first-child{
  font-size: 0.9rem;
  font-weight: bold;
}
.home_navi > div:first-child > span:last-child{
  display:flex;
  align-items: center;
  margin:0px 0px 0px 5px;
}
.home_navi > div:last-child{
  display:flex;
  align-items: center;
}
.home_navi > div:last-child > span{
  margin:0px 0px 0px 10px;
}
/* -------------------- seller -------------------- */
.seller{
  display:flex;
  flex-direction: column;
  width:100%;
  height:550px;
}
.seller_navi{
  display: flex;
  width: calc(100% - 20px);
  padding: 0px 10px;
  min-height: 50px;
  border-bottom: solid 1px #eaeaea;
  justify-content: space-between;
  align-items: center;
  color: #585858;
}
.seller_navi > span:first-child{
  font-size: 0.9rem;
  font-weight: bold;
}
.seller_info{
  display: flex;
  width: calc(100% - 20px);
  padding: 20px 10px 20px 10px;
  background:#f4f4f4;
  justify-content: space-between;
}
.seller_info  > div:first-child{
  display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  border:solid 2px #eaeaea;
  border-radius: 25px;
  overflow: hidden;
}
.seller_info  > div:first-child > img{
  object-fit: cover;
  width:100%;
  height:100%;
}
.seller_info  > div:last-child{
  display:flex;
  width:calc(100% - 70px);
  margin:5px 0px 0px 0px;
}
.seller_info  > div:last-child{
  display:flex;
  flex-direction: column;
}
.seller_info  > div:last-child > span:first-child{
  font-weight: bold;
  color:#585858;
  margin:0px 0px 3px 0px;
}
.seller_info  > div:last-child > div{
  display:flex;
  font-size: 0.8rem;
  color:#7f7f7f;
}
.seller_info  > div:last-child > div > span:first-child{
  display:flex;
  color:#ec6f6a;
  align-items: center;
  margin:3px 5px 0px 0px;
}
.seller_rate{
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  padding: 0px 10px;
  margin:20px 0px 0px 0px;
}
.seller_rate > span{
  font-weight: bold;
}
.seller_rate > div:nth-child(2){
  display:flex;
  justify-content: center;
  width:100%;
  color:#ec6f6a;
  margin:5px 0px 0px 0px;
}
.seller_rate > div:nth-child(3){
  display:flex;
  justify-content: center;
  width:100%;
  margin:5px 0px 0px 0px;
  font-size: 1rem;
  color:#7f7f7f;
}
.seller_rate > div:nth-child(3) > span:first-child{
  display:flex;
  margin:0px 5px 0px 0px;
}
.seller_nei{
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  padding: 0px 10px;
  margin:30px 0px 0px 0px;
}
.seller_nei > span{
  font-weight: bold;
  margin:0px 0px 5px 0px;
}
.seller_nei > div{
  display:flex;
  flex-wrap: wrap;  
}
.seller_nei > div > div{
  display:flex;
  font-size: 0.8rem;
  margin:0px 10px 5px 0px;
  padding:2px 10px;
  border-radius: 5px;
}
.seller_nei > div > div:nth-child(1){
  background:#85ff82;
  /* color:#fff; */
}
.seller_nei > div > div:nth-child(2){
  background:#f6ff82;
  /* color:#fff; */
}
.seller_nei > div > div:nth-child(3){
  background:#5ef1f6;
  /* color:#fff; */
}
.seller_nei > div > div:nth-child(4){
  background:#b2d468;
  /* color:#fff; */
}
.seller_list{
  display: flex;
  flex-direction: column;
  margin:30px 0px 0px 0px;
}
.seller_list > div:first-child{
  border-top:solid 1px #eaeaea;
}
.seller_list > div{
  display:flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 10px 10px;
  border-bottom:solid 1px #eaeaea;
}
.seller_list > div > span:first-child{
  font-weight: bold;
}
/* -------------------- profile -------------------- */
.profile{
  display:flex;
  flex-direction: column;
  width:100%;
  height:550px;
}
.profile_navi{
  display: flex;
  width: calc(100% - 20px);
  padding: 0px 10px;
  min-height: 50px;
  border-bottom: solid 1px #eaeaea;
  justify-content: space-between;
  align-items: center;
  color: #585858;
}
.profile_navi > span:first-child{
  font-size: 0.9rem;
  font-weight: bold;
}
.profile_info{
  display: flex;
  width: calc(100% - 20px);
  padding: 20px 10px 0px 10px;
  background:#f4f4f4;
  justify-content: space-between;
}
.profile_info  > div:first-child{
  display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  border:solid 2px #eaeaea;
  border-radius: 25px;
  overflow: hidden;
}
.profile_info  > div:first-child > img{
  object-fit: cover;
  width:100%;
  height:100%;
}
.profile_info  > div:last-child{
  display:flex;
  width:calc(100% - 70px);
  justify-content: space-between;
  align-items: center;
}
.profile_info  > div:last-child > div{
  display:flex;
  flex-direction: column;
}
.profile_info  > div:last-child > div > span:first-child{
  font-weight: bold;
  color:#585858;
  margin:0px 0px 3px 0px;
}
.profile_history{
  display: flex;
  width: calc(100% - 20px);
  padding: 0px 10px 10px 10px;
  background:#f4f4f4;
  justify-content: center;
}
.profile_history > div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:40%;
  /* background:#ffc7c7; */
  margin:5px 10px 0px 10px;
  padding:5px 0px;
  border-radius: 5px;
}
.profile_history > div > span:first-child{
  display:flex;
  justify-content: center;
  color:#ec6f6a;
  width:100%;
  background:#fbe2e1;
  margin:0px 10px 5px 10px;
  padding:8px 0px;
  border-radius: 5px;
  border:solid 1px #f5b7b4;
}
.profile_history > div > span:last-child{
  font-size: 0.8rem;
  color:#585858;
}
.profile_list{
  display: flex;
  flex-direction: column;
  margin:10px 0px 0px 0px;
  width: calc(100% - 20px);
  padding: 10px 10px;
  /* background:#f4f4f4; */
}
.profile_list > span{
  display: flex;
  font-weight: bold;
  color:#585858;
  margin:0px 0px 10px 0px;
}
.profile_list > div{
  display:flex;
  width:100%;
  align-items: center;
  margin:0px 0px 10px 0px;
}
.profile_list > div > span:first-child{
  display:flex;
  align-items: center;
  width:20px;
  margin:0px 5px 0px 0px;
}
/* -------------------- insta -------------------- */
.chatchat{
  display:flex;
  flex-direction: column;
  width:100%;
  height:550px;
}
.chatchat_navi{
  display: flex;
  width: calc(100% - 20px);
  padding: 0px 10px;
  min-height: 49px;
  border-bottom: solid 1px #eaeaea;
  justify-content: space-between;
  align-items: center;
  color: #585858;
}
.chatchat_navi > div:nth-child(1){
  display:flex;
  align-items: center;
}
.chatchat_navi > div:nth-child(1) > a:first-child{
  display:flex;
  text-decoration: none;
  color:#585858;
  margin:0px 10px 0px 0px;
}
.chatchat_navi > div:nth-child(1) > span:last-child{
  font-size: 0.8rem;
  font-weight: bold;
}
.chatchat_info{
  display:flex;
  justify-content: space-between;
  width:calc(100% - 20px);
  padding:10px;
  border-bottom: solid 1px #eaeaea;;
}
.chatchat_info > div:nth-child(1){
  width:50px;
  height:50px;
}
.chatchat_info > div:nth-child(1) > img{
  object-fit: cover;
  width:100%;
  height:100%;
  border-radius: 5px;
}
.chatchat_info > div:nth-child(2){
  display:flex;
  width:calc(100% - 60px);
  flex-direction: column;
}
.chatchat_info > div:nth-child(2) > span{
  font-size: 0.8rem;
  display:flex;
  margin:3px 0px 0px 0px;
}
.chatchat_info > div:nth-child(2) > div{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin:5px 0px 0px 0px;
}
.chatchat_info > div:nth-child(2) > div > span{
  font-size: 0.8rem;
  color:#ec6f6a;
  font-weight: bold;
}
.chatchat_info > div:nth-child(2) > div > div{
  display:flex;
  font-size: 0.8rem;
  margin:2px 0px 0px 0px;
}
.chatchat_info > div:nth-child(2) > div > div > span:first-child{
  display:flex;
  margin:4px 5px 0px 0px;
  color:#ec6f6a;
}
.chatchat_chat{
  display:flex;
  flex-direction: column;
  background:#f6f6f6;
  width:100%;
  height:500px;
  position:relative;
}
.chatchat_me{
  display:flex;
  width:100%;
  justify-content: flex-end;
  margin:10px 0px 0px 0px;
}
.chatchat_me > span:first-child{
  display:flex;
  align-items: flex-end;
  margin:0px 10px 0px 0px;
  font-size: 0.8rem;
  color:#7f7f7f;
}
.chatchat_me > span:last-child{
  display:flex;
  padding:2px 10px;
  background:#ec6f6a;
  margin:0px 10px 0px 0px;
  color:#fff;
  border-radius: 10px;
}
.chatchat_you{
  display:flex;
  width:100%;
  margin:10px 0px 0px 10px;
}
.chatchat_you > div:first-child{
  display:flex;
  justify-content: center;
  align-items: center;
  width:43px;
  height:43px;
  margin:0px 10px 0px 0px;
  border:solid 2px #eaeaea;
  border-radius: 25px;
  overflow: hidden;
}
.chatchat_you > div:first-child > img{
  object-fit: cover;
  width:100%;
  height:100%;
}
.chatchat_you > div:last-child{
  display:flex;
  flex-direction: column;
}
.chatchat_you > div:last-child > span{
  font-weight: bold;
  font-size: 0.8rem;
  color:#585858;
}
.chatchat_you > div:last-child > div{
  display:flex;
  margin:5px 0px 0px 0px;
}
.chatchat_you > div:last-child > div > span:first-child{
  display:flex;
  padding:2px 10px;
  background:#dbdbdb;
  margin:0px 10px 0px 0px;
  color:#000;
  border-radius: 10px;
}
.chatchat_you > div:last-child > div > span:last-child{
  display:flex;
  align-items: flex-end;
  margin:0px 0px 0px 0px;
  font-size: 0.8rem;
  color:#7f7f7f;
}
.chatchat_input{
  display:flex;
  width:calc(100% - 20px);
  padding:10px 10px;
  position:absolute;
  bottom:-50px;
  background:#fff;
  justify-content: space-between;
}
.chatchat_input > span{
  display:flex;
  align-items: center;
  width:20px;
  height:30px;
  justify-content: center;
}
.chatchat_input > div{
  display:flex;
  width:calc(100% - 70px);
  background:#dbdbdb;
  border-radius: 20px;
}
/* -------------------- insta -------------------- */
.chat{
  display:flex;
  flex-direction: column;
  width:100%;
  height:550px;
}
.chat_list{
  display:flex;
  flex-direction: column;
  height:500px;
  width:100%;
  overflow-y: scroll;
  overflow-x: hidden
}
.chat_list::-webkit-scrollbar{
  width:2px;
}

/* -------------------- insta -------------------- */
.chat_ele{
  display:flex;
  justify-content: space-between;
  width:calc(100% - 20px);
  padding:10px;
  border-bottom: solid 1px #eaeaea;
  color:#000;
  text-decoration: none;
}
.chat_ele > div:first-child{
  display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
}
.chat_ele > div:first-child > img{
  object-fit: cover;
  width:100%;
  height: 100%;
  border-radius: 5px;
}
.chat_ele_right{
  display:flex;
  flex-direction: column;
  width:calc(100% - 60px);
}
.chat_ele_right > span{
  display: flex;
  margin:3px 0px 0px 0px;
}
.chat_ele_right > div{
  display:flex;
  justify-content: space-between;
  margin:3px 0px 0px 0px;
}
.chat_ele_right > div > span{
  font-weight: bold;
  font-size: 0.8rem;
  color:#585858;
}
.chat_ele_right > div > div{
  display:flex;
  font-size: 0.8rem;
  color:#7f7f7f;
}
.chat_ele_right > div > div > span:first-child{
  display:flex;
  margin:4px 5px 0px 0px;
}
/* -------------------- insta -------------------- */
.search{
  display:flex;
  flex-direction: column;
  width:100%;
  height:550px;
}
.search_list{
  display:flex;
  flex-direction: column;
  height:500px;
  width:100%;
  overflow-y: scroll;
  overflow-x: hidden
}
.search_list::-webkit-scrollbar{
  width:2px;
}
/* -------------------- insta -------------------- */
.search_ber{
  display:flex;
  width:calc(100% - 40px);
  margin:10px;
  padding:10px;
  background:#f4f4f4;
  align-items: center;
  border-radius: 10px;
  font-size: 1rem;
}
.search_ber > span:nth-child(1){
  display:flex;
  margin:3px 5px 0px 0px;
}
.search_ber > span:nth-child(2){
  color:#7f7f7f;
}
.search_lv1{
  display:flex;
  flex-direction: column;
  width:calc(100% - 20px);
  padding:0px 10px;
  margin:10px 0px 0px 0px;
}
.search_lv1 > span{
  font-weight: bold;
  font-size: 1.2rem;
}
.search_lv1 > div{
  display:flex;
  flex-wrap: wrap;
  margin:10px 0px 0px 0px;
}
.search_lv1 > div > span{
  display:flex;
  margin:0px 10px 10px 0px;
  width:calc(50% - 5px);
}
.search_lv1 > div > span:nth-child(2n){
  margin:0px 0px 10px 0px;
}